<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅 서비스</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<th:block layout:fragment="content">
    <div class="wrap w_1280">
        <div class="tit mw_50">
            <div class="text-container">
                <h1>알려줘 앨런아!</h1>
                <br>
                <h3>앨런 AI 챗봇에게 궁금한 부분을 물어보세요</h3>

                <br>
                <P>질문 예시에요. 어떤 것이든 물어봐주세요! <br>
                    맥도날드 키오스크 사용법 알려줘,<br>
                    1968년생이 받을 수 있는 지원금 알려줘,<br>
                    갑자기 속이 쓰려 왜 그럴까?
                </P>
            </div>
        </div>
        <section>
            <div class="chat-container" id="chat-container"></div>
            <div class="input-container">
                <input type="text" id="chat-input" placeholder="메시지를 입력하세요..."/>
                <button onclick="sendMessage()">질문하기</button>
            </div>
        </section>
    </div>
        <script src="/js/chat.js"></script>
</th:block>
</html>
