<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">
  <head>
    <title>chungbaji</title>
    <style>
      #notificationModal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border-radius: 10px;
      }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/common.js"></script>
  </head>
  <header>
    <h1 class="logo_box">
      <a href="/" class="logo">
        <picture>
          <img th:src="@{/img/logo.png}" alt="logo">
          <span>청바지</span>
        </picture>
      </a>
    </h1>
    <nav>
      <ul>
        <li><a href="/checkout/checkout">AI 건강 검진</a></li>
        <li class="dept">
          <a href="javascript:void(0)">정보 마당</a>
          <div>
            <a href="/hospital_list">공공의료기관 찾기</a>
            <a href="/sanatorium_list">요양원 찾기</a>
            <a href="/nursing_list">복지시설 찾기</a>
          </div>
        </li>
        <li><a href="/chat">알려줘 앨런아!</a></li>
      </ul>
    </nav>
    <div id="notificationModal">
      <span id="notificationMessage"></span>
      <button id="closeModalButton2">닫기</button>
    </div>
    <div class="user_box">
        <!-- 로그인 전 -->
        <ul sec:authorize="!hasAnyRole('ROLE_CHUNGBAZI', 'ROLE_ADMIN')" class="flex_box">
          <li>
            <a href="/login">로그인</a>
          </li>
          <li>
            <a href="/signup">회원가입</a>
          </li>
        </ul>
<!--         로그인 후 -->
        <ul sec:authorize="hasAnyRole('ROLE_CHUNGBAZI', 'ROLE_ADMIN')" class="flex_box" id="afterLogin">
          <li>
            <a href="/mypage">마이페이지</a>
          </li>
          <li>
            <a href="/logout">로그아웃</a>
          </li>
        </ul>
    </div>
  </header>
  <script>
    // // SSE 연결 (서버의 /sse/connect 경로를 통해 연결)
    // let eventSourceR;
    //
    // document.addEventListener('DOMContentLoaded', function() {
    //   const afterLogin = document.getElementById('afterLogin');
    //
    //   // 해당 요소가 존재하면 사용자가 특정 역할을 가지고 있지 않다는 의미
    //   if (afterLogin) {
    //     if (!eventSourceR || eventSourceR.readyState !== EventSource.OPEN) {
    //       eventSourceR = new EventSource(`/sse/connection`);
    //     }
    //   }
    //
    //   eventSourceR.onopen = function() {
    //     console.log('SSE 연결 성공');
    //   };
    //
    //   eventSourceR.onmessage = function(event) {
    //     console.log('새로운 메시지:', event.data);
    //   };
    //
    //   eventSourceR.onerror = function(error) {
    //     console.error('SSE 오류:', error);
    //   };
    //
    //   // 메시지가 수신되면 모달 창에 알림을 표시
    //   eventSourceR.onmessage = function(event) {
    //     const notificationMessage = event.data;
    //
    //     // 알림을 모달 창에 표시
    //     const notificationModal = document.getElementById('notificationModal');
    //     const messageSpan = document.getElementById('notificationMessage');
    //     messageSpan.innerHTML = notificationMessage;
    //     console.log(messageSpan.innerHTML);
    //
    //     // 모달을 화면에 표시
    //     notificationModal.style.display = 'block';
    //
    //     // 5초 후 모달 닫기
    //     // setTimeout(() => {
    //     //   notificationModal.style.display = 'none';
    //     // }, 5000);
    //   };
    //   const closeModalButton2 = document.getElementById('closeModalButton2');
    //
    //   // 닫기 버튼 클릭 시 모달 닫기
    //   closeModalButton2.onclick = function() {
    //     notificationModal.style.display = 'none';
    //   };
    // });
  </script>
</th:block>
</html>