<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<head>
    <link rel="stylesheet" href="/css/member/member.css">
</head>
<th:block layout:fragment="content">
    <div class="wrap member edit_family">
        <div class="w_1280">
            <div class="tit mw_50">
                <h1>가족 정보 수정</h1>
                <p>
                    연동할 가족 정보를 추가 또는 삭제할 수 있습니다. <br>
                    저장하기 버튼을 반드시 눌러 완료해주세요 🏠
                </p>
            </div>
            <section class="edit_profile info-section">
                <form>
                    <div id="family-container">
                        <!-- 등록된 가족 정보가 없을 때 dn 클래스는 display:none 입니다-->
                        <div th:if="${#lists.isEmpty(familyInfoList)}">
                            <p>등록된 가족 정보가 없습니다.</p>
                        </div>
                        <div th:each="family : ${familyInfoList}" class="family-section">
                            <button type="button" onclick="removeFamily()" class="btn delete_btn">삭제</button>
                            <div class="autocomplete_cont">
                                <label for="relationship"><span class="req">*</span>가족 관계</label>
                                <input type="text" id="relationship" th:value="${family.relationship}" autocomplete="off" placeholder="등록하실 가족과의 관계를 입력해주세요. 예) 부, 모, 자녀" required>
                                <div class="autocomplete_list" id="relation-autocomplete"></div>
                            </div>
                            <label for="family-name"><span class="req">*</span>이름</label>
                            <input type="text" id="family-name" th:value="${family.name}" placeholder="등록하실 가족의 이름을 입력해주세요" required>
                            <label for="family-birth"><span class="req">*</span>생년월일</label>
                            <input type="date" id="family-birth" th:value="${family.dateOfBirth}" required>
                            <label for="family-gender"><span class="req">*</span>성별</label>
                            <input type="text" id="family-gender" th:value="${family.gender.displayName}" placeholder="등록하실 가족의 성별을 입력해주세요" required>
                        </div>
                    </div>
                    <button type="button" id="add-family" class="btn">+ 가족 정보 추가</button>
                    <div class="btn_box">
                        <button onclick="location.href='/edit_profile'" class="btn">취소하기</button>
                        <button type="submit" class="btn">저장하기</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <script src="/js/edit_family.js"></script>
</th:block>
</html>