<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<head>
    <link rel="stylesheet" href="/css/info/list.css">
</head>
<th:block layout:fragment="content">
    <div class="wrap hospital w_1280">
        <div class="tit">
            <h1>공공의료기관찾기</h1>
            <p>지역별로 검색하여 공공의료기관 정보를 확인해보세요!</p>
        </div>
        <div class="search_cont">
            <form id="region_form">
               <div class="province_cont">
                   <label for="province">시/도 입력</label>
                   <input type="text" id="province" name="province" placeholder="예: 서울특별시" autocomplete="off">
                   <div id="province-list" class="autocomplete-list"></div>
               </div>

               <div class="district_cont">
                   <label for="district">시/군/구 입력</label>
                   <input type="text" id="district" name="district" placeholder="예: 종로구" autocomplete="off" disabled>
                   <div id="district-list" class="autocomplete-list"></div>
               </div>

                <button type="button" class="btn">지역별 병원 검색하기</button>
            </form>
            <div class="search_hospital_name dn">
                <label for="hospital-name"></label>
                <input type="text" id="hospital-name" placeholder="병원명을 입력하세요">

                <button type="button" class="btn">병원명으로 검색하기</button>
            </div>
        </div>
        <section class="list_section">
            <!-- 병원 목록 테이블 -->
            <table id="hospitalTable">
                <thead>
                <tr>
                    <th>병원 이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
                </thead>
                <tbody>
                <!-- 타임리프 반복문으로 병원 목록을 출력 -->
                <tr>
                    <td>365경희한의원</td>
                    <td>031-761-1365</td>
                    <td class="show_map">
                        <span>경기도 광주시 광주대로 35, 4,7층 (경안동)</span>
                        <button type="button" class="btn">지도보기</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <!-- 페이지네이션 -->
        <div id="pagination" class="pagination">
            <button id="first-btn" class="page_btn"><< 맨앞으로</button>
            <button id="prev-btn" class="page_btn">< 이전</button>
            <span id="page-numbers">1</span>
            <button id="next-btn" class="page_btn">다음 ></button>
            <button id="last-btn" class="page_btn">맨끝으로 >></button>
        </div>
    </div>
    <script src="/js/hospital.js"></script>
</th:block>
</html>