<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<head>
    <link rel="stylesheet" href="/css/info/list.css">
</head>
<th:block layout:fragment="content">
    <div class="wrap nursing w_1280">
        <div class="tit">
            <h1>복지시설 찾기</h1>
            <p>복지시설 정보를 확인해보세요!</p>
        </div>
        <div class="search_cont">
            <div class="search_box">
                <label for="nursing_search"></label>
                <input type="text" id="nursing_search" placeholder="복지시설 이름을 입력하세요">

                <button type="button" class="btn">검색하기</button>
            </div>
        </div>
        <section class="list_section">
            <!-- 병원 목록 테이블 -->
            <table id="nursingTable">
                <thead>
                <tr>
                    <th>병원 이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>365경희한의원</td>
                    <td>031-761-1365</td>
                    <td class="show_map">
                        <span>경기도 광주시 광주대로 35, 4,7층 (경안동)</span>
                        <button type="button" class="btn">지도보기</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <!-- 페이지네이션 -->
        <div id="pagination" class="pagination">
            <button id="first-btn" class="page_btn"><< 맨앞으로</button>
            <button id="prev-btn" class="page_btn">< 이전</button>
            <span id="page-numbers">1</span>
            <button id="next-btn" class="page_btn">다음 ></button>
            <button id="last-btn" class="page_btn">맨끝으로 >></button>
        </div>
    </div>
</th:block>
</html>