<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/layout">
<body>
<th:block layout:fragment="content">
    <section>
        <h1>예약 상세</h1>
        <div class="btn_box">
            <a href="/admin/reservation_list">
                <button type="button" class="reversal_btn">목록으로</button>
            </a>
        </div>
        <div class="info">
            <div class="info_item">
                <p class="info_label">예약자 ID</p>
                <span>test123</span>
            </div>
            <div class="info_item">
                <p class="info_label">예약자</p>
                <span>홍길동</span>
            </div>
            <div class="info_item">
                <p class="info_label">병원명</p>
                <span>삼성병원</span>
            </div>
            <div class="info_item">
                <p class="info_label">주소</p>
                <span>서울특별시 어디구</span>
            </div>
            <div class="info_item">
                <p class="info_label">번호</p>
                <span>02 000 000</span>
            </div>
            <div class="info_item">
                <p class="info_label">예약 날짜 및 시간</p>
                <span>2024-12-04 13:45<</span>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>