.text-container p {
    margin-top: 5rem;
}

.w_1280.chat {
    padding: 20rem 3rem;
}

.chat-container {
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}

/* 챗봇 연결 종료 container*/
.ex-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 10rem;
}

.chat-container .message.received strong {
    font-size: clamp(1.8rem, 1.5417vw, 2.45rem);
    font-weight: bold;
}

.chat-container .message.received > p:first-of-type {
    font-size: clamp(1.8rem, 1.5417vw, 2.45rem);
}

.chat-container .message.received ol {
    list-style: decimal;
    padding-left: 25px;
}

.chat-container .message.received ol li::marker {
    list-style: decimal;
    font-size: clamp(1.8rem, 1.5417vw, 2.45rem);
    font-weight: bold;
}

.chat-container .message.received ul {
    list-style: disc;
    font-size: clamp(1.8rem, 1.5417vw, 2.45rem);
    padding-left: 20px;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 80%;
    line-height: clamp(3rem, 2.5vw, 4.8rem);
    /*    list- 간격 ul li */
}

.message.sent {
    background-color: #032D41;
    color: white;
    margin-left: auto;
    font-size: clamp(1.8rem, 1.5417vw, 2.45rem);
}

.message.received {
    background-color: #e4e4e4;
    color: #333;
    margin-right: auto;
    font-size: clamp(1.8rem, 1.5417vw, 2.45rem);
}

.input-container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: clamp(1.8rem, 1.5417vw, 2.45rem);
}

.txt {
    margin-top: 10rem;
    font-size: clamp(1.6rem, 1vw, 1.8rem);
    line-height: 1.5;
}

.txt span {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #013E8B;
}

.req {
    color: #013E8B;
    font-weight: bold;
}

.chat section {
    padding: 0;
    margin-top: 1.5rem;
}

/* 스크롤바 커스터마이징 */
.chat-container::-webkit-scrollbar {
    width: 6px; /* 스크롤바 너비 */
}

.chat-container::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥글게 */
}

.chat-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 마우스 올릴 때 색상 변경 */
}

.chat-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 트랙 색상 */
}

@media screen and (max-width: 767px) {
    .w_1280.chat {
        padding: 20rem 1.5rem;
    }
}
