.text-container p {
    margin-top: 5rem;
}

.chat-container {
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 80%;
}

.message.sent {
    background-color: #032D41;
    color: white;
    margin-left: auto;
    font-size: clamp(1rem, 1.0417vw, 1.8rem);
}

.message.received {
    background-color: #e4e4e4;
    color: #333;
    margin-right: auto;
    font-size: clamp(1rem, 1.0417vw, 1.8rem);
}

.input-container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: clamp(1rem, 1.0417vw, 1.8rem);
}

.txt{
    margin-top: 10rem;
    font-size: clamp(1.6rem, 1vw, 1.8rem);
    line-height: 1.5;
}

.txt span{
    display: inline-block;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #013E8B;
}

.req{
    color: #013E8B;
    font-weight: bold;
}

.chat section{
    padding: 0;
    margin-top: 1.5rem;
}