<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<head>
    <link rel="stylesheet" href="/css/index.css">
</head>
<th:block layout:fragment="content">
    <div class="wrap">
        <div class="btn_wr">
            <button type="button" class="scr_top_btn btn">
                <span class="scr_txt01">Scroll</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M6 9l6 6 6-6" />
                </svg>
                <span class="scr_txt02">Top</span>
            </button>
        </div>
        <article class="sec sec01">
            <h2 class="tit"><span>청</span>춘은 <span>바</span>로 <span>지</span>금</h2>
            <p class="txt">
                저희 청바지(청춘은 바로 지금)는 초고령 사회 속 액티브 시니어를 위한 AI 기반 건강 정보 분석 플랫폼입니다.<br>
                건강 점검과 지원금 안내, 디지털 기기 활용 지원을 통해<br>
                시니어들이 능동적이고 행복한 삶을 누릴 수 있도록 돕습니다.
            </p>
        </article>
        <article class="sec sec02">
            <div class="flex_box tran_delay">
                <div class="l_box">
                    <h2 class="tit ani_load tran">AI 건강 정보 분석</h2>
                    <p class="txt ani_load tran">
                        간단한 문진표를 작성하여<br>
                        AI 기반 건강 정보 분석을 받아보세요.
                    </p>
                    <p class="txt ani_load tran">
                        일반 건강과 치매 건강 중 선택하여<br>
                        검사를 받을 수 있습니다.
                    </p>
                </div>
                <div class="r_box ani_load tran">
                    <div class="btn_box">
                        <button type="button" class="btn">AI 건강 정보 분석 하러가기 버튼</button>
                    </div>
                </div>
            </div>
        </article>
        <article class="sec sec03">
            <h2 class="tit ani_load tran">병원 정보 찾기</h2>
            <p class="txt ani_load tran">지역별로 검색하여 병원 정보를 확인해보세요.</p>
            <div class="sel_wr ani_load tran">
                <label for="city-select">시 도 선택</label>
                <select id="city-select" name="city">
                    <option value="">전체 선택</option>
                    <option value="서울특별시">서울특별시</option>
                    <option value="부산광역시">부산광역시</option>
                    <option value="경기도">경기도</option>
                    <option value="강원도">강원도</option>
                </select>
                <label for="town-select">시 군 구 선택</label>
                <select id="town-select" name="town">
                    <option value="">전체 선택</option>
                    <option value="도봉구">도봉구</option>
                    <option value="노원구">노원구</option>
                    <option value="용산구">용산구</option>
                    <option value="동대문구">동대문구</option>
                </select>
                <div class="btn_box">
                    <button type="button" class="btn">검색하기</button>
                </div>
            </div>
        </article>
        <article class="sec sec04">
            <h2 class="tit ani_load tran">알려줘 앨런아!</h2>
            <p class="txt ani_load tran">일상생활에서 생기는 사소한 궁금증을<br>앨런이에게 물어보세요.</p>
            <div class="btn_box ani_load tran">
                <button type="button" class="btn">앨런이와 대화하러가기</button>
            </div>
        </article>
        <article class="sec sec05">
            <h2 class="tit ani_load">오늘의 운세는</h2>
            <!-- 로그인 전-->
            <p class="txt log_off_txt ani_load">로그인 후 오늘의 운세를 확인해보세요.</p>
            <!-- 운세 확인 -->
            <div class="cont_wr log_on_txt dn">
                <p class="txt ani_load"><span>유저 이름</span>님</p>
                <p class="txt ani_load">오늘의 운세는 운수대통입니다. 행복하시겠어요~</p>
            </div>
            <div class="btn_box ani_load">
                <button type="button" class="btn bazi_btn">운세 확인하기</button>
            </div>
        </article>
    </div>

<script src="/js/index.js"></script>
</th:block>
</html>